<div class="login-wrapper">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Welcome Back</mat-card-title>
      <mat-card-subtitle>Enter your credentials to access your account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" type="email" id="email" placeholder="name@company.com"
            autocomplete="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" id="password" autocomplete="current-password">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="!formValid()" class="submit-btn full-width">
          Sign In
        </button>

      </form>
    </mat-card-content>

    <mat-card-footer class="auth-footer">
      <p>Don't have an account?</p>
      <a (click)="goRegister()" mat-button>Create an account</a>
    </mat-card-footer>
  </mat-card>
</div>