.auth-wrapper {
  height: 100vh; display: flex; justify-content: center; align-items: center;
  background-color: #f5f5f5;
}
.auth-card { width: 100%; max-width: 400px; padding: 32px; }
.form-stack { display: flex; flex-direction: column; gap: 10px; margin-top: 20px; }
.lg-btn { padding: 8px 0; font-size: 16px; margin-top: 10px; }
