<mat-toolbar color="primary" class="sticky-nav">
  <span class="logo">SocialBlock</span>
  
  <div class="nav-links">
    <button mat-button routerLink="/">Feed</button>
    <button mat-button routerLink="/profile">My Block</button>
    <button mat-button routerLink="/admin">Admin</button>
  </div>
  
  <span class="spacer"></span>
  
  <button mat-icon-button><mat-icon>search</mat-icon></button>
  <button mat-icon-button>
    <mat-icon matBadge="3" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <button mat-icon-button routerLink="/profile" class="avatar-btn">
    <img src="https://i.pravatar.cc/150?img=12" alt="Me">
  </button>
</mat-toolbar>
